<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Brilliantech.ClearInsight.AppCenter.Kanban.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Brilliantech.ClearInsight.AppCenter.Kanban.Properties.Settings>
            <setting name="ProductLines" serializeAs="String">
                <value>P1,P2,P3</value>
            </setting>
        </Brilliantech.ClearInsight.AppCenter.Kanban.Properties.Settings>
    </userSettings>
</configuration>
